.movie-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  min-height: 400px;
  min-width: 390px;
}

.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.movie-image {
  width: 100%;
  border-radius: 8px;
}

.subtitle {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgb(107 114 128/var(--tw-text-opacity,1));
}

.comment-display {
  background-color: #f8f8f8;
  padding: 10px;
  border-left: 4px solid #0077b5;
  margin-top: 10px;
  font-style: italic;
}

.bottom-container {
  margin-top: auto;
  padding-bottom: 10px;
}

.rating-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.annotation-line .annotation-btn {
  width: 100%;
  font-size: 12px;
}

.action-line {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.action-line .action-btn {
  flex: 1;
  width: 100%;
  font-size: 12px;
}

.toast-container {
  position: fixed !important;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

.toast-success .toast-body {
  background-color: #4CAF50 !important;
  color: #fff;
  border: 1px solid #f9fcff !important;
  border-radius: 8px !important;
}

.toast-danger .toast-body {
  background-color: #FF4D4D !important;
  color: #fff;
  border: 1px solid #f9fcff !important;
  border-radius: 8px !important;
}