.header {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}


.rating {
  margin-top: 10px;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #555;
}

.footer a {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  width: 100%;
}

.search-input {
  width: calc(100% - 20px); /* Preenche a tela, mas com bordas de 10px */
  max-width: 900px; /* Limite máximo de largura */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px; /* Espaço abaixo do campo de busca */
}

.no-movies {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #777;
  margin-top: 100px;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta conforme espaço disponível */
  gap: 20px;
  justify-content: center; /* Centraliza os filmes */
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.movie-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-width: 300px;
}

.movie-image {
  width: 100%;
  border-radius: 8px;
}

.movie-card h2 {
  font-size: 18px;
  margin: 10px 0;
}

.movie-card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

@media (max-width: 600px) {
  .movies-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .movies-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .movies-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1401px) {
  .movies-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .filter-container {
    display: flex;
    flex-wrap: wrap; /* Permite que os filtros se ajustem automaticamente */
    gap: 15px;
    justify-content: flex-start; /* Alinhado à esquerda */
    margin-top: 10px;
  }
}

.comment-display {
  background-color: #f8f8f8;
  padding: 10px;
  border-left: 4px solid #0077b5;
  margin-top: 10px;
  font-style: italic;
}

.comment-text {
  cursor: pointer;
  color: #555;
}

.comment-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.7) !important; /* Fundo escuro bloqueando a página */
}

.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* Seletor ajustado para o body do toast, pois o Toast do React-Bootstrap renderiza um elemento .toast-body */
.toast-success .toast-body {
  background-color: #4CAF50 !important;  /* Verde para ações positivas */
  color: #fff;
}

.toast-danger .toast-body {
  background-color: #FF4D4D !important;  /* Vermelho para ações de desmarcar */
  color: #fff;
}

.filter-container {
  display: flex;
  justify-content: center; /* Centraliza os filtros em telas menores */
  gap: 15px;
  margin-top: 20px;
  margin-left: 10px;
}

.filter-container label {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.filter-container input {
  margin-right: 5px;
}
